@import "../mixin.scss";


.footer{
    padding: 0 10px;
    background:  blueviolet;
    height: 100vh;

    .content{
        
        h2{
            font-size: $f_title;
            color: $light;
        }

        h3{
            margin: 30px 0px;
        }

        a{
            font-size: $f_subtitle;
            cursor: pointer;
        }
    }
}